* {
  caret-color: transparent;
}

html {
  color: #19191D;
}

.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.center {
  justify-content: center;
  align-items: center;
}
.flex.h-center {
  justify-content: center;
}
.flex.v-center {
  align-items: center;
}
.flex.space-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}

button {
  border: 1px solid #9dc2ff;
  border-radius: 50%;
  background: white;
  color: #2264D1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
}
button.shadow {
  border: none;
  box-shadow: 0px 1px 5px 1px #9dc2ff;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(10px + 0.3vw);
  }
  button {
    min-width: fit-content;
    border-radius: 4px;
  }
}